.botones a {
    font-size: .7rem;
}

.card:hover {
    box-shadow: 0 0 15px lightgray;
}

.textoChico {
    font-size: .8rem;
}

.bgGrisOscuro {
    background-color: rgb(65, 65, 65);
}

.brilloOscuro {
    filter:brightness(50%);
}